<!DOCTYPE html>
<html>
    #parse('/tcom/template.rap.vm')
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>RAP - 控制台</title>
    <link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">

    #includeNewRapStatic
    <link type="text/css" rel="stylesheet" href="${staticRoot}/css/pageTester.css?_r=$!timeStamp"/>
    <script src="http://a.tbcdn.cn/??s/yui/3.6.0/build/yui/yui-min.js"></script>
    <script src="${staticRoot}/js/util/jsformat.js"></script>
    <script src="${staticRoot}/js/util/structureValidator.js"></script>
    <script src="${staticRoot}/js/util/mock-min.js"></script>
    
    <style>
    
    	textarea
		{
		margin:0;
		padding:0;
		width:100%;
		box-sizing:border-box; 
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box; 
		}
    
    </style>
</head>
<body>
   <script type="text/javascript">
   
   function Trim(str,is_global)
  {
   var result;
   result = str.replace(/(^\s+)|(\s+$)/g,"");
   if(is_global.toLowerCase()=="g")
   {
    result = result.replace(/\s/g,"");
    }
   return result;
}
   
   	function httpUrlTest(){
	var urlType = $("#urlType").val();  
	var requestUrl = $('#requestUrl').val();
	var q = "requestUrl=" + requestUrl;
	var requestContext = $('#requestContext').val();
	q = q+"&requestContext="+requestContext+"&urlType="+urlType;
	$.ajax({
        method : "POST",
        url : "$projectContext/tester/httptest.do",
        data : q,
        success : function() {
            var r = arguments[0];
    		$('#responseContext').html(r);
        }
    });
    }
    
    function saveActionHttp(type){
    
    var q = "";
    
    if(type=="url"){
    	var requestUrl = $('#requestUrl').val();
    	q = "requestUrl=" + requestUrl;
    }
    if(type=="req"){
    	var requestContext = $('#requestContext').val();
    	q = "requestContext=" + Trim(requestContext,"g");
    }
    if(type=="res"){
    	var responseContext = $('#responseContext').text();
    	q = "responseContext=" + Trim(responseContext,"g");
    }
    var actionId = $('#actionId').val();
    q = q +"&type="+type+"&actionId="+actionId;
	
	$.ajax({
        method : "POST",
        url : "$projectContext/tester/saveOrUpdateActionHttp.do",
        data : q,
        success : function() {
            var r = arguments[0];
    		alert("ok");
        }
    });
    }
    
     function jsJsonFormat(){
     	var requestContext = $('#requestContext').val();
     	var q = "requestContext=" + Trim(requestContext,"g");
     	$.ajax({
        method : "POST",
        url : "$projectContext/tester/jsJsonFormat.do",
        data : q,
        success : function() {
            var r = arguments[0];
    		$('#requsetContextHtml').html(r);
        }
    });
     }
   </script>

#bodyNewStart
<div class="container">
    <h3>
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
         $!utils.escapeInH($actionName):$!utils.escapeInH($actionVersion) &nbsp;测试台
    </h3>

   
    <div id="divActionList" class="demo tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                   
            </li>
        </ul>
        
    </div>
 <form name="httpTest" class="form" method="post"
                          path="$projectContext/project/saveOrUpdateActionHttp.do" onsubmit="return false;">
                        <input type="hidden" name="actionId" id="actionId" class="paramIdList"
                               value="$actionId" />
                        <div class="p8">
                            <div style="margin-top:5px;">请求地址: 
                            	<input id="requestUrl" name="requestUrl" maxlength="1000" size="100"  value="$!utils.escapeInH($actionHttp.requestUrl)"/>
                            	<select name="urlType" id="urlType">
  									<option value ="POST">POST</option>
  									<option value ="GET">GET</option>
								</select>
                            	<button onclick="httpUrlTest();" class="btn btn-primary btn-run">请求</button>
                            	<div class="clear"></div>
                            	
                            	<input type="button" onclick="saveActionHttp('url');" class="btn btn-primary btn-run" value="保存URL"/>
                             </div>
                        </div>
                        <div class="block" id="divResBoard">
    						<textarea id="requestContext" name="requestContext" >$!utils.escapeInH($actionHttp.requestContext)</textarea>
        					<div class="clear"></div>
        					<input type="button" onclick="jsJsonFormat();" class="btn btn-primary btn-run" value="格式化"/>
        					<div class="clear"></div>
        					<div id="requsetContextHtml" name="requsetContextHtml">$requsetContextHtml</div>
                            <div class="clear"></div>
        					<input type="button" onclick="saveActionHttp('req');" class="btn btn-primary btn-run" value="保存数据"/>
    					</div>
                        <div class="block" id="divResBoard">
        					<div id="responseContext" name="responseContext">$actionHttp.responseContext</div>
        					<div class="clear"></div>
        					<input type="button" onclick="saveActionHttp('res');" class="btn btn-primary btn-run" value="保存数据"/>
    					</div>
                    </form>
   
</div>
#bodyEnd
<foot>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_5879641'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5879641%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</foot>
</body>
</html>
